@charset "utf-8";

/*
Pequenas Telas: até 600px;

Celular: De 600px até 768;

Tablet: de 768 a 992px;

Desktop: de 992 a 1200 px;

Grandes Telas: Acima de 1200px;
*/

@media screen and (min-width: 600px) and (max-width: 768px) {
    body {
        background-image: url(../imagens/lei03.jpg);
        background-position: center left;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    main {
        max-width: 460px;
    }

    header > section > nav {
        display: flex;
        justify-content: center;
    }

    div.image-lei {
        background: #aeaeae;
        display: block;
        height: 390px;
        width: 350px;
        border-bottom: 1px solid black;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    
        /* CONFIGURAÇÃO DA DIV
        TENTATIVA DE ENCAIXAR IMAGEM DENTRO DE DIV
        */
    }
    
    div.image-lei > img {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    
        /* CONFIGURAÇÃO DA IMAGEM
        TENTATIVA DE ENCAIXAR IMAGEM DENTRO DE DIV
        */
    }

    section.primeira-secao {
        background-color: rgb(0, 0, 0);
    }

    section.segunda-secao {
        background-color: rgba(77, 66, 50, 0.788);
    }

    section.segunda-secao > article > h5.outro {
        color: white;
    }

    section.segunda-secao p {
        color: white;
    }

    section.segunda-secao ul {
        background-color: rgba(218, 197, 158, 0.705);
    }

    article.lista {
        background-color: black;
    }

}

@media screen and (min-width: 768px) {
    main {
        max-width: 600px;
    }

    body {
        background-image: url(../imagens/lei-background.jpg);
        background-position: center left;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    header {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        background-color: #BF702A;
    }

    section.primeira-secao {
        background-color: #0D0D0D;
    }

    section.segunda-secao {
        background-color: rgb(122, 122, 122);
    }
    
    section.segunda-secao ul {
        margin-right: 90px;
        background-color: #e7e7e775;
    }
}